.knob {

	._background {
		fill: black;
	}

	._pie-background {
		stroke: gray;
		fill: none;
		stroke-linecap: round;
	}

	._pie-foreground {
		stroke: magenta;
		fill: none;
	}

	._dot {
		fill: #af0;
	}

	._label {
		stroke: #af0;
		text-anchor: middle;
		dominant-baseline: central;
	}

	._hand {
		stroke: #0af;
		stroke-linecap: round;
	}
}

.simple-color-greenL { background-color: #060; }
.simple-color-greenH { background-color: #040; }
.simple-color-redL { background-color: #600; }
.simple-color-redH { background-color: #400; }
.simple-color-amberH { background-color: #660;}
.simple-color-yellow { background-color: #440;}

