.layout-grid {
	._params {
		display: grid;
		grid-template-rows: auto;
		// grid-template-columns: auto auto auto auto auto auto auto auto;
		
		._controller {
			z-index: 10;
			border: 2px solid brown;
		}
	}

	._null {
		background-color: #999;
		border: 0.5px solid black;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
	}
}