.circuit-patch {
	._params {
		display: grid;
		grid-template-rows: auto;
		// grid-template-columns: auto auto auto auto auto auto auto auto;
	}

	._null {
		background-color: lime;
		border: 1px solid black;
	}
}